<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet"/>
		<link href="../../css/public.css" rel="stylesheet" />
		<script src="../../js/mui.js"></script>
		<script src="../../js/jquery.js"></script>
		<script src="../../config.js"></script>
		<script src="../../js/public.js"></script>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav title-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">密码安全</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="saveData()">保存</button>
		</header>
		
		<div class="mui-content">
			<form class="form-content">
			    <div class="input-row-new">
					<label>原密码</label>
					<input type="password" name="oldPwd" class="input-box mustInput" placeholder="请输入原密码"/>
				</div>
				<div class="input-row-new">
					<label>新密码</label>
					<input type="password" name="password" class="input-box mustInput" placeholder="请输入新密码"/>
				</div>
				<div class="input-row-new">
					<label>确认密码</label>
					<input type="password" name="againPwd" class="input-box mustInput" placeholder="请再次输入新密码"/>
				</div>
			</form>
		</div>
		
		<script type="text/javascript">
			mui.init()
			
			function saveData() {
				
				if (requiredVerify(".form-content")) {
					
					if ($('input[name=password]').val() != $('input[name=againPwd]').val()) {
						mui.alert('新密码前后不一致','提示');
					} else {
						let formData = serializeJson(".form-content");
						ajaxJson(BASE.config.portalUrl + '/admin/user/updatePwd','post',success,formData);	
					}
				} else {
					mui.alert('请填写完整的信息','提示');
				}
			}
			
			function success() {
				location.href = baseUrl + 'views/personalCenter.html';
			}
		</script>
	</body>
</html>
