<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/public.css" rel="stylesheet"/>
		<link href="../css/personalCenter.css" rel="stylesheet"/>
		<script src="../js/mui.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../config.js"></script>
		<script src="../js/public.js"></script>
	</head>

	<body>
		
		<header class="mui-bar mui-bar-nav title-nav">
			<h1 class="mui-title">个人中心</h1>
		</header>
		
		<div class="mui-content">
			
			<div class="top-title">
				<img src="../image/personalCenter/personalBackground.png"/>
				<div class="head-portrait">
					<img id="people-head" src="../image/personalCenter/timg.png">
				</div>
				<div id="people-name" class="role-name">
					管理员
				</div>
			</div>
			
			<div class="conent">
				<div class="firestMenuList">
					<div class="menu personalData">
						<img src="../image/personalCenter/personal-data.png"/>
						<span>个人资料<span>
					</div>
					<div class="menu pinSecurity">
						<img src="../image/personalCenter/pinSecurity.png"/>
						<span>密码安全<span>
					</div>
				</div>
				<div class="secondMenuList">
					<div class="menu messageCenter">
						<img src="../image/personalCenter/messageCenter.png"/>
						<span>消息中心<span>
					</div>
					<div class="menu loginOut">
						<img src="../image/personalCenter/loginOut.png"/>
						<span>退出登录<span>
					</div>
				</div>
			</div>
			
		</div>
		
		<nav class="mui-bar mui-bar-tab button-nav">
			<a class="mui-tab-item" onclick="toIndex()">
				<span>
					<img src="../image/public/home.png"/>
				</span>
				<span>首页</span>
			</a>
			<a class="mui-tab-item mui-active">
				<span>
					<img src="../image/public/personal-center-checked.png"/>
				</span>
				<span>个人中心</span>
			</a>
		</nav>
		
		<script type="text/javascript">
			mui.init();
			
			$(function(){
				$(".menu").on("click",function() {
					let page = $(this).attr("class").replace("menu ","");
					if (page != "loginOut") {
						window.location.href = baseUrl + "views/personal/" + page + ".html";
					} else {
						mui.confirm("您确认要退出登录吗?","提示",["取消","确认"],function(res){
							if (res.index == 1) {
								ajaxJson(BASE.config.portalUrl + 'admin/loginout','post',toLogin);
								sessionStorage.clear();
								window.location.href = baseUrl + 'login.html';
							}
						},"div");
					}
				});
				
				ajaxJson(BASE.config.portalUrl+'admin/user/currentUser',
					'post',success);
				
			});
			
			function toIndex() {
				window.location.href = baseUrl + "views/index.html";
			}
			
			function success(data) {
				data = data.obj;
				$("#people-head").attr('src',BASE.config.portalUrl + data.avatar);
				$("#people-name").html(data.fullName);
			}
			
			function toLogin(){
				window.location.href = baseUrl + "login.html";
			}
			
		</script>
	</body>

</html>
