<!Doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.css" rel="stylesheet" />
		<link href="../../../css/public.css" rel="stylesheet"/>
		<link href="../../../css/manage/assetsManage.css" rel="stylesheet"/>
		<script src="../../../js/mui.js"></script>
		<script src="../../../js/jquery.js"></script>
		<script src="../../../config.js"></script>
		<script src="../../../js/public.js"></script>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav title-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">房屋详情</h1>
		</header>
		
		<div class="mui-content">
			<div class="mui-scroll-wrapper assetsDetails">
				<div class="mui-scroll">
					<div class="title-suggests">
						<span>资产信息</span>
					</div>
					
					<div class="query-condition">
						<div class="condition"></div>
						<div class="twoLines"></div>
					</div>
					
					<div class="title-suggests">
						<span>资产图片</span>
					</div>
					<div class="show-picture">
						
					</div>
					
					<div class="title-suggests">
						<span>资产附件</span>
					</div>
					<div class="show-files">
					</div>
					
					<div class="title-suggests">
						<span>资产位置</span>
					</div>
					<div class="show-map" id="container">
						
					</div>
					
					<div class="title-suggests">
						<span>产权信息</span>
					</div>
					<div class="show-certificate">
						
					</div>
					
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mGG3YXur4hU0jSR21uDWSGqz33WGs1iP"></script>
		<script type="text/javascript" src="../../../js/map.js"></script>
		<script type="text/javascript">
			
			mui.init()
			
			initScroll();
			
			$(function() {
				ajaxJson(BASE.config.assetsUrl + 'admin/house/getHouseById?id='+getParams(),
					'get',success);
			});
			
			function success(data){
				let html1 = createDetails_oneWay('资产编号',data.assetsNo) 
					+ createDetails_oneWay('资产名称',data.assetsName) + createDetails_oneWay('资产分类',data.assetsType)
					+ createDetails_oneWay('自主分类',data.ownCategory) + createDetails_oneWay('资产属性',data.assetsAttribute)
					+ createDetails_oneWay('楼栋名称',data.buildingName) + createDetails_oneWay('资产管理员',data.asssetsManager)
					+ createDetails_oneWay('产权单位',data.propertyUnitName) + createDetails_oneWay('详址',data.location)
					+ createDetails_oneWay('财务入账时间',data.inAccountDate);

				let html2 = createDatails_twoLines('结构','楼层',data.houseStructure,data.hfloor)
					+ createDatails_twoLines('原值','净值',data.bookValue,data.netValue)
					+ createDatails_twoLines('门牌号','安全情况',data.doorplateNo,data.securitySituation) 
					+ createDatails_twoLines('产权形式','使用年限',data.isCer,data.useDurableYears)
					+ createDatails_twoLines('车位个数','取得方式',data.carParkNum,data.getWay)
					+ createDatails_twoLines('取得时间','开工时间',data.getDate,data.startWorkDate)
					+ createDatails_twoLines('完成时间','使用时间',data.endWorkDate,data.useTime)
					+ createDatails_twoLines('建筑面积','套内面积',data.acreage,data.otherAcreage)
					+ createDatails_twoLines('计租面积','租赁价格',data.rentalAreaOption,data.rentPrice);
				
				createDetails_certificate(data.certificateList)
				
				createDetails_picture(data.attachments);
				createDetails_files(data.attachments);
				addressResolution(null,data,'成都市');
				
				$(".condition").append(html1);
				$(".twoLines").append(html2);
			}
			
		</script>
		
	</body>
</html>
