<!Doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.css" rel="stylesheet" />
		<link href="../../../css/public.css" rel="stylesheet"/>
		<link href="../../../css/manage/assetsManage.css" rel="stylesheet"/>
		<script src="../../../js/mui.js"></script>
		<script src="../../../js/jquery.js"></script>
		<script src="../../../config.js"></script>
		<script src="../../../js/public.js"></script>
	</head>
	
	<body>
		
		<header class="mui-bar mui-bar-nav title-nav">
			<span class="mui-icon mui-icon-back"></span>
			<h1 class="mui-title">房屋查询</h1>
		</header>
		
		<div class="mui-content">
			<div class="title-suggests">
				<span>查询条件</span>
			</div>
			<div class="query-form">
				<form class="form-content">
					<div class="query-input">
						<span class="query-img"><img src="../../../image/public/query.png"></span>
						<input type="text" name="ctctNo" id="ctctNo" readonly placeholder="点击查询"/>
						<span class="cancal-img"><img src="../../../image/public/cancal.png"></span>
					</div>
				</form>
			</div>
			<div class="title-suggests">
				<span>查询结果</span>
			</div>
			<div class="mui-scroll-wrapper assetsQuery">
				<div class="mui-scroll">
					<div class="content-query-list">
						
					</div>
				</div>
			</div>
			
		</div>
		
		<script type="text/javascript">
			
			let queryParams = {};
			
			$(function(){
				
				// 获取并判断是否有uuid传递，以便取出查询条件
				let url = window.location.href;
				if (url.indexOf("?") != -1) {
					let localUuid = url.substring(url.indexOf("?")+1);
					queryParams = JSON.parse(localStorage.getItem(localUuid));
					localStorage.removeItem(localUuid);
				}
				
				$("#ctctNo").on("tap",function(){
					let uuid = getUuid();
					window.location.href = baseUrl + "views/manage/assetsManage/house_query.html?" + uuid;
				});
				
				$(".cancal-img").on("tap",function(){
					queryParams = {};
					location.href = baseUrl + "views/manage/assetsManage/house.html";
				});
				
				$(".content-query-item").on("tap",function(){
					let id = $(this).data("id");
					location.href = baseUrl + "views/manage/assetsManage/house_detail.html?" + id;
				});
				
				$(".title-nav span").on("tap",function(){
					location.href = baseUrl + "views/manage/assetsManage.html";
				});
				
				initMui(".assetsQuery",refreshData);
				
			});
			
			function refreshData() {
				queryParams.page = page;
				queryParams.limit = limit;
				ajaxJson(BASE.config.assetsUrl + 'admin//house/findAll?a|flowState|E|S=3&isChooser=1',
					'post',success,queryParams);
			}
			
			// ajax成功回调函数
			function success(res) {
				let data = res.data;
				createList(data,'.content-query-list');
				judgmentResult(page,data.count,'.assetsQuery');
				page++;
			}
			
		</script>
	</body>
</html>
