<!Doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.css" rel="stylesheet" />
		<link href="../../../css/public.css" rel="stylesheet"/>
		<link href="../../../css/manage/assetsManage.css" rel="stylesheet"/>
		<script src="../../../js/mui.js"></script>
		<script src="../../../js/jquery.js"></script>
		<script src="../../../js/public.js"></script>
	</head>
	
	<body>
		
		<header class="mui-bar mui-bar-nav title-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">土地查询</h1>
		</header>
		
		<div class="mui-content">
			<div class="title-suggests">
				<span>查询条件</span>
			</div>
			<div class="query-form">
				<form class="form-content">
					<div class="query-input">
						<span class="query-img"><img src="../../../image/public/query.png"></span>
						<input type="text" name="ctctNo" placeholder="点击查询"/>
						<span class="cancal-img"><img src="../../../image/public/cancal.png"></span>
					</div>
				</form>
			</div>
			<div class="title-suggests">
				<span>查询结果</span>
			</div>
			
			<div class="mui-scroll-wrapper assetsQuery">
				<div class="mui-scroll">
					<div class="content-query-list">
						<div class="content-query-item">
							<div class="item-title">
								<div class="item-no">
									<span>渝隆房屋编号001</span>
									<img src="../../../image/public/next.png">
								</div>
								<div class="item-name">
									资产名称：南岸区南坪街道惠工路35号第16层
								</div>
							</div>
							<div class="severance"></div>
							<div class="item-status">
								<div>
									<div class="status-head">资产状态</div>
									<div class="status-main">已租</div>
								</div>
								<div class="status-division">
									<div class="status-head">自主分类</div>
									<div class="status-main">房屋</div>
								</div>
								<div>
									<div class="status-head">抵押状态</div>
									<div class="status-main">已抵押</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<script type="text/javascript">
			
		</script>
	</body>
</html>
